/* styles.css */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --svg-stroke: #374151;
    --sidebar: #f9fafb;
    --bdr-right: #e5e7eb;
}

body {
    display: flex;
    min-height: 100vh;
}

.profile-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icons svg {
  width: 20px;
  height: 20px;
  stroke: var(--svg-stroke);
}

.sidebar {
    width: 20rem;
    background-color: var(--sidebar);
    color: black;
    border-right: 1px solid var(--bdr-right);

    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    padding: 1.5rem;
}

.profile-bar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.utilities {
    height: 20rem;
    gap: 2rem;

    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    background-color: white;
}