/* styles.css */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    
} */

body {
    display: flex;
    min-height: 100vh;
}

.profile-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icons svg {
  width: 20px;
  height: 20px;
  fill: white; 
}

.sidebar {
    width: 16rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    
    gap: 2.5rem;
    padding: 1rem;
    border: 1px solid black;
}

.profile-bar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.utilities {
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}