/* styles.css */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    
} */

.profile-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
